html,
body {
    margin: 0;
    padding: 0;

}

nav {
    width: 100%;
    background: linear-gradient(to bottom right,#356935 , yellow);
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    font-size: 30px;
    text-decoration: none;
}

nav a:visited {
    color: whitesmoke;
}

nav a:hover {
    color: black;
}

.current-page {
    background-color: brown;
}

main {
    margin: 0 10%;
}

.Birds{
    height: 500px;
    width: 1000px;
}
.crow{
    height: auto;
width: 350px;
}

